.carousel__title {
    color: var(--orange-text);
    font-weight: 700;
    font-size: 1.125rem;
    background-color: #FFFFFF;
    text-align: center;
    padding: 1.25rem 0;
    text-transform: uppercase;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5rem 0;
}

.card {
    background-color: #FFFFFF;
    margin: 1.25rem 1.5rem;
    border-radius: .625rem;
    box-shadow: 0 .25rem .25rem 0 rgba(0, 0, 0, 0.25);
    padding: 1.5rem 1rem;
}

.card__description {
    display: flex;
    justify-content: space-between;
    gap: 1.125rem;
    margin-bottom: 0.5rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.description__title {
    color: var(--orange-text);
    font-weight: 700;
}

.description__title__image {
    width: 60%
}

.description__subtitle {
    color: #002f52;
    font-size: 1.125rem;
    font-weight: 700;
}

.description__text {
    font-size: 0.825rem;
}

.card__buttons {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.button {
    margin: 0.5rem;
}

.anchor {
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    background: var(--orange-text);
    align-items: center;
    padding: 0.5rem 2.2rem;
}