header {
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__menu {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.625rem;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container__image {
    padding: 1em;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__button:checked~.menu-list {
    display: block;
}

.container__button {
    display: none;
}

.list__item__title, .list__item {
    padding: 1em;
    background-color: white;
}

.list__item__title {
    font-weight: 700;
    color: var(--header-list-title-color);
}

.list__item__link {
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}